<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @product.description %></td>
              <td><%= @product.price %></td>
              <td><%= @product.total %></td>
              <td><%= link_to 'Edit', edit_product_path(@product) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <% @sellers.each do |seller| %>
            <tr>
              <td><%= seller.seller.name %></td>
              <td><%= seller.seller.address %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @buyers.each do |buyer| %>
            <tr>
              <td><%= buyer.buyer.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<%= link_to 'Back', products_path %>
</div>
